html {
    font-family: 'Fredoka', sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}
ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.display-flex {
    display: flex;
}


/* debug */

.debug > header {
    min-height: 50px;
    background-color: blue;
    color: white;
}
.debug > main {
    min-height: 800px;
    background-color: chocolate;
}

.debug > footer {
    background-color: blue;
    min-height: 100px;
}
